/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --base-font-family: 'Inter-Variable', sans-serif;
  --accent-font-family: 'PressStart2P', sans-serif;
  --base-font-weight: 400;
  --card-title-font-weight: 700;


  --background-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);

  --background-grid-color: #d3d3d3;
  --background-gradient-color-start: #e7e7e7;
  --background-gradient-color-end: #1a1a1a;

  --theme-menu__button-hover-color: rgba(0, 0, 0, 0.6);

  --button__text-color: var(--background-color);
}
